html {
    max-width: 360;
    width: 100%;
    max-height: 800;
    height: 100%;
    background-color: pink;
    margin: auto;
}

body {
    background-color: #2B3252;
}

#logocontainer {
    text-align: center;
}

#logo {
    width: 320px;
    margin-top: 180px;
}

.intro {
    max-width: 360;
    width: 100%;
    max-height: 571px;
    height: 100%;
    padding-top: 250px;
    text-align: center;
    background-color: #2B3252;
}

b {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

#sub {
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter; 
    color: white;
}

#buttons {
    padding-top: 25px;
}

.introbutton {
    border-radius: 8px;
    margin: 15px;
    border: none;
    padding: 12px 15px;
    color: white;
    background-color: #FF3C00;
}

#logintro {
    max-width: 360;
    width: 100%;
    max-height: 521px;
    height: 100%;
    padding-top: 200px;
    text-align: center;
    background-color: #2B3252;
}

#login {
    padding-top: 50px;
}

.loginput {
    width: 230px;
    height: 50px;
}

#loginbutton {
    border-radius: 8px;
    padding: 8px 12px;
    margin-top: 30px;
    margin-left: 160px;
    color: white;
    background-color: #FF3C00;
}

.question {
    margin-top: 30px;
    font-size: 15px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter; 
}

label {
    margin: -30px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter; 
}

input {
    width: 100px;
    font-size: 17px;
    font-family: Raleway;
}

input.invalid {
    background-color: #ffdddd;
}

#register {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#username {
    width: 150px;
    height: 40px;
    margin: auto;
}

#password {
    width: 150px;
    height: 40px;
    margin: auto;
}

.question {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter; 
}

.options {
    margin-left: -75px;
    padding: 10px;
}

.button {
    margin-top: 20px;
    margin-right: 60px;
    background-color: #FF3C00;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #FF3C00;
}